# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore data files
*.csv
*.h5

# Ignore data
data